<!DOCTYPE html>
<html>
  <head>
    <title>Order Placed!!</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Online Book Exchange
      </h1>

      <p>Your order for the book <b>{{book['title']}}</b> has been placed!</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{book_order['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{book_order['email']}}</div>
  
  
      <b>Phone</b>
      <div class="mb-2">{{book_order['phone']}}</div>
  
      <b>Address</b>
      <div class="mb-2">{{book_order['address']}}</div>
  
    </div>
    
    {% include 'footer.html' %}
  </body>
</html>
