<!DOCTYPE html>
<html>
  <head>
    <title>Online Book Exchange</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Online Book Exchange
      </h1>
      
      <h2 class="text-center mt-5 mb-1">Search results</h2>

      <form action="/{{userid}}/search" method="post" class="form-inline text-center">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only"></label>
          <input type="text" required name="book_name" class="form-control" id="inputPassword2" placeholder="search by book name">
        <button type="submit" class="btn btn-primary mt-2 mb-4">Search</button>
        </div>
      </form>

      <div>
        {% for book in books %}
          {% include 'bookitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:varshithareddy1901@gmail.com?body=Name%20%3A%20%3Cyour%20name%3E%0D%0AQuery%20%3A%20%3Cmention%20the%20query%20you%20have%3E">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
